
.friendsList > .friend{
    /*    border: solid 1px black;*/
    margin-top: 15px;
}
.friendsList > .friend > .summary > .friendimg{
    border-radius: 12px;
    border: solid 2px #28a4c9;
}

.friendsList > .friend > .summary > .friendimg:hover
{
    border-radius: 15px;
    border: solid 4px #e4b9b9;
}
.friendsList > .friend > .summary > .friendimg> img{
    border-radius: 10px;
    margin: 0 auto;
}
.friendsList > .friend > .summary > .friendname{
    text-align: center;
}
.friendsList >.friend > .friendinfo
{
    display: none;
}
.friendbg
{
    background: rgba(255,255,255, 0.9);
    width: 754px;
    height: 0px;
    margin: 5px 0 0 20px;
    z-index: 1;
    position: absolute;
    opacity: 0;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
/*.friendbg > .friend 
{
    width: 100%;
}*/
.friendbg > .summary
{
    width: 40%;
    float: left;
    height: 100%;
}
.friendbg > .summary > .friendname
{
    display: none;
}

.friendbg > .summary > .friendimg
{
    /*    margin: auto;*/
    height: 100%;
}

.friendbg > .summary > .friendimg > img
{
    border:solid 3px #28a4c9;
    border-radius: 10px;
    margin-left:40%;
    margin-top: 15%;
}

.friendbg > .friendinfo
{
    margin-top: 3%;
    margin-right: 15%;
}