.marginall
{
    margin: 15px 15px 15px 15px;
}

.marginimg
{
    margin: 12px 15px 0px 15px;
}

.border{
    border:solid 1px;
}
.margin-top
{
    margin-top: 20px;
}

.margin-bottom
{
    margin-bottom: 20px;
}

.fontpadding{
    padding: 2px;
}
#bd_focus .focustab li {
    background: aqua no-repeat 1px 0;
    cursor: pointer;
    display: inline-block;
    height: 11px;
    margin-left: 7px;
    width: 11px;
}
.imageborder{
    width:200px;
    height:100px;
    box-shadow:10px 10px black;
}
.margin5
{
    margin: 0px 5px 5px 5px;
}

.borderstyle{
    border:solid 2px #00CED1;
}

.fontvis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 7em;
    text-align: center;
}

.fontvisser{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    width: 10em;
}

.titleli{
    width: 30%;
}

.contentli{
    width:70%;
}

.theadper{
    height: 40px;
    border: 2px #000\9 solid;
    border-radius: 5px;
    background: #F79D0C;
}

.theadper1{
    height: 40px;
    border: 2px #000\9 solid;
    border-radius: 5px;
    background: #269abc;
    font-style: bold;
}
.tbper{

    border: 2px #000\9 solid;
    border-radius: 5px;
    background-color: rgba(247, 157, 12, 0.1);
    /*    color: black;*/
}

.tableper{
    border:0px #000\9 solid;
    width: 100%;
    text-align: center;
}

.subheader{
    border: 2px #000\9 solid;
    border-radius: 5px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(183,222,237,0.3)), color-stop(50%,rgba(113,206,239,0.3)), color-stop(51%,rgba(33,180,226,0.3)), color-stop(100%,rgba(183,222,237,0.3))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(183,222,237,0.3) 0%,rgba(113,206,239,0.3) 50%,rgba(33,180,226,0.3) 51%,rgba(183,222,237,0.3) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(183,222,237,0.3) 0%,rgba(113,206,239,0.3) 50%,rgba(33,180,226,0.3) 51%,rgba(183,222,237,0.3) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(183,222,237,0.3) 0%,rgba(113,206,239,0.3) 50%,rgba(33,180,226,0.3) 51%,rgba(183,222,237,0.3) 100%); /* IE10+ */
}
.fontsub{
    font:italic bold;
}

.blue {
    width: 45px;
    height: 45px;
    -webkit-transition:  -webkit-transform 4s; /* Safari */
    transition: transform 4s;
}

.blue:hover {

    -webkit-transform: rotate(720deg); /* Safari */
    transform: rotate(720deg);
}

.padd0{
    padding-top: 3px !important;
    padding-left: 1px !important;
    padding-right: 1px !important;
    padding-bottom: 0px !important;
}

.advanced{
    width: 100%;
}

.col-md-1_5{
    float: left;
    width: 12.5%;
}